<html style="color:white" ng-app="sbcApp"  ng-controller="userlogin" >
	<head>
       <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
       	<link rel="stylesheet" type="text/css" href="/css/ionic.css" />
       	<link rel="stylesheet" type="text/css" href="/css/customstyles.css" />
       	
  	    <script type="text/javascript" src="/js/ionic.bundle.js"></script>

  	    <script type="text/javascript" src="/js/modules/app.js"></script>

 	    <script type="text/javascript" src="/js/services/authentication.js"></script>
  	    <script type="text/javascript" src="/js/controllers/userlogin.js"></script>
	
		
        <title>SBC</title>
 	</head>
	<body style="background-color:#333333; color:white">
  		<div class="bar bar-header bar-energized">
			<h1 class="title">Login</h1>
		</div>
			<ion-content class="has-header">

				{{test.username}}				
			  	<div style="height:100px; width:90%; position:relative; margin-left:5%; mrigin-right:5%"> 
			  		<div style="height:100px"><img style="display:block; margin-top:20px; margin-left:auto; margin-right:auto" src="/img/sbc-logo.png"> </img> </div> 
			  		
						<label class="item item-input">
						  <span class="input-label" >username</span>
						  <input type="text" ng-model="userinfo.username">
					</label>
					
					<label class="item item-input">
						  <span class="input-label" >password</span>
						  <input type="password" ng-model="userinfo.password">
					</label>
	
					<li class="item item-toggle">
				     Remember me <b>{{userinfo.remember ? "yes" : "no"}}</b>
				     <label class="toggle toggle-positive">
				       <input type="checkbox" ng-model="userinfo.remember">
				       <div class="track">
				         <div class="handle"></div>
				       </div>
				     </label>
				  	</li>
			  		<!-- <a href="#" class="linkbutton large green arial">Login</a> -->	
			  		<button class="button button-full button-balanced" ng-click="authenticate()">Login</button>
			  		<div style="height:100px">Enter your username & password to continue.</div> 
			  	</div>
			  	
			</ion-content>

	</body>

</html>